[submodule "Solution/ThirdParty/TinyUSB"]
	path = Solution/ThirdParty/TinyUSB
	url = git@github.com:hathach/tinyusb.git
[submodule "Solution/ThirdParty/PYRo-uCtrl-Unity"]
	path = Solution/ThirdParty/PYRo-uCtrl-Unity
	url = git@github.com:MekCraftLi/PYRo-uCtrl-Unity.git
[submodule "Solution/ThirdParty/referee-hud-ui"]
	path = Solution/ThirdParty/referee-hud-ui
	url = git@github.com:MekCraftLi/PeiyangRobot-infantry-UILib.git
[submodule "rm"]
	path = rm
	url = git@gitee.com:User_lwh/rm.git
