[submodule "Solution/ThirdParty/TinyUSB"]
	path = Solution/ThirdParty/TinyUSB
	url = git@github.com:hathach/tinyusb.git
[submodule "Solution/ThirdParty/PYRo-uCtrl-Unity"]
    path = Solution/ThirdParty/PYRo-uCtrl-Unity
    url = git@github.com:MekCraftLi/PYRo-uCtrl-Unity.git
    ignore = dirty
